@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}


/* common */
body {font-family: 'NanumSquare', sans-serif; font-size: 14px; color: #000000; background: #ffffff;}
#skip-nav {position: fixed; top: -40px; left: 0; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}
#header {position: relative; height: 85px; line-height: 85px;}
#header h1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#header h1 a {display: block;}
#header h1 a img {display: block; width: 90px;}
body.main #header h1 a img.black {display: block;}
body.main #header h1 a img.white {display: none;}
body.sub #header h1 a img.black {display: none;}
body.sub #header h1 a img.white {display: block;}

#header div.top {display: none;}
#gnb {display: none;}

#mobile-menu {position: relative; top: 50%; left: 50%; width: calc(100% - 40px); transform: translate(-50%, -50%);}
#mobile-menu > ul {color: #666; font-size: 15px; font-weight: 400; background-color: #fff; overflow: hidden;}
#mobile-menu > ul > li {line-height: 24px;}
#mobile-menu > ul > li + li  {margin-left: 10px;}
#mobile-menu > ul > li:nth-child(1) {float: left;}
#mobile-menu > ul > li:nth-child(2) {float: right;}
#mobile-menu > ul > li > a {display: block; width: 20px; height: 20px;}

/* main (common) */
#main > section div.title > h3 {position: relative; text-align: center; font-size: 25px; font-weight: 400; letter-spacing: 0.05em;}


/* main */
#main-science {position: relative; padding-top: 80px;}
#main-science div.article-slide {position: relative; margin-top: 30px; color: #fff;}
#main-science div.article-slide > div.box {position: relative; width: 100%; height: calc(100vh - 70px); margin: 0 auto;}
#main-science div.article-slide img, 
#main-science div.article-slide video {height: 800px; object-fit: cover;}
#main-science div.article-slide ul.slide {width: 100%; height: 100%;}
#main-science div.article-slide ul.slide ul {position: relative;}
#main-science div.article-slide ul.slide li.visual {position: relative; margin: 0 auto; width: 100%; height: 100%;}
#main-science div.article-slide ul.slide li.visual > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#main-science div.article-slide ul.slide li.visual > ul > li {position: absolute; display: none; top: 0; left: 50%; height: 100%; transform: translate(-50%, 0);}
#main-science div.article-slide ul.slide li.visual > ul > li::after {content: ''; position: absolute; top: 10%; left: 0; width: 100%; height: 100%; background: url(../img/main-science-back-m.png) center center no-repeat;}
#main-science div.article-slide ul.slide li > ul > li:first-child {display: block;}
#main-science div.article-slide ul.slide li > ul > li:nth-child(2) {left: 100%;}
#main-science div.article-slide ul.slide li > ul > li:nth-child(3) {left: 200%;}
#main-science div.article-slide ul.slide li > ul > li:nth-child(4) {left: 300%;}

#main-science div.article-slide ul.slide li.title {position: absolute; top: 39%; left: 5%; padding-right: 5%;}
#main-science div.article-slide ul.slide li.title > ul > li {font-size: 20px; font-weight: 800; letter-spacing: 0.03em;}
#main-science div.article-slide ul.slide li.text {position: absolute; top: 46%; left: 5%; padding-right: 5%;}
#main-science div.article-slide ul.slide li.text p.title {line-height: 35px; font-size: 25px; font-weight: 700; margin-bottom: 15px; letter-spacing: -0.1em;}
#main-science div.article-slide ul.slide li.text p.content {line-height: 30px; font-size: 16px; white-space: pre-line; overflow: hidden;}
#main-science div.article-slide ul.slide li.title > ul > li.on, 
#main-science div.article-slide ul.slide li.text > ul > li.on {display: block;}
#main-science div.article-slide ul.slide li.title > ul > li:not(.on), 
#main-science div.article-slide ul.slide li.text > ul > li:not(.on) {display: none;}


#main-collection {position: relative; padding-top: 80px; background-color: #f4f7fa;}
#main-collection > div.content-box {position: relative; max-width: calc(100% - 70px); margin: 0 auto;}
#main-collection div.image-scroll-slide img {width: 100%;}
#main-collection div.image-scroll-slide > p.tab {text-align: center; margin: 25px 0;}
#main-collection div.image-scroll-slide > p.tab span {font-size: 16px; color: #888; cursor: pointer;}
#main-collection div.image-scroll-slide > p.tab span.on {color: #0890c0; font-weight: 800;}
#main-collection div.image-scroll-slide > p.tab span + span::before {content: '|'; margin: 0 20px; font-size: 14px; color: #ddd;}

#main-collection div.image-scroll-slide > div.box {position: relative; width: calc(100% - 40px); margin: 0 auto;}
#main-collection div.image-scroll-slide ul.slide {}
#main-collection div.image-scroll-slide ul.slide > li {}
#main-collection div.image-scroll-slide ul.slide > li a {display: block;}

#main-collection div.image-scroll-slide ul.slide > li p.img {position: absolute; top: 70%; width: 45%;}
#main-collection div.image-scroll-slide ul.slide > li p.img em {font-size: 19px; font-weight: 400; color: #333;}
#main-collection div.image-scroll-slide ul.slide > li:not(.pick) > div.preview-info {display: none;}

#main-collection div.image-scroll-slide > div.box.new > ul.slide > li.new + li:nth-child(1) > p.img {left: 0;}
#main-collection div.image-scroll-slide > div.box.new > ul.slide > li.new + li:nth-child(2) > p.img {left: 52%;}
#main-collection div.image-scroll-slide > div.box.new > ul.slide > li.new + li:nth-child(3) > p.img {left: 104%;}
#main-collection div.image-scroll-slide > div.box.rec > ul.slide > li.rec + li:nth-child(4) > p.img {left: 0;}
#main-collection div.image-scroll-slide > div.box.rec > ul.slide > li.rec + li:nth-child(5) > p.img {left: 52%;}
#main-collection div.image-scroll-slide > div.box.rec > ul.slide > li.rec + li:nth-child(6) > p.img {left: 104%;}

#main-collection div.image-scroll-slide > div.box.new > div.pick > p.new {display: block;}
#main-collection div.image-scroll-slide > div.box.rec > div.pick > p.new {display: none;}
#main-collection div.image-scroll-slide > div.box.rec > div.pick > p.rec {display: block;}
#main-collection div.image-scroll-slide > div.box.new > div.pick > p.rec {display: none;}
#main-collection div.image-scroll-slide > div.box.new > ul.slide > li.new {display: block;}
#main-collection div.image-scroll-slide > div.box.new > ul.slide > li.rec {display: none;}
#main-collection div.image-scroll-slide > div.box.rec > ul.slide > li.new {display: none;}
#main-collection div.image-scroll-slide > div.box.rec > ul.slide > li.rec {display: block;}

#main-collection div.image-scroll-slide p.dummy {opacity: 0;}
#main-collection div.image-scroll-slide p.dummy {position: relative; left: 0; bottom: 0; width: 45%;}

#main-collection div.image-scroll-slide ul.slide div.preview-info {color: #333; padding: 25px 0;}
#main-collection div.image-scroll-slide ul.slide div.preview-info > p.tag {font-size: 16px;}
#main-collection div.image-scroll-slide ul.slide div.preview-info > p.tag span {display: inline-block; box-sizing: border-box; border: 1px solid #ddd; border-radius: 50px; padding: 4px 10px; margin-right: -4px;}
#main-collection div.image-scroll-slide ul.slide div.preview-info > p.title {font-size: 24px; font-weight: 800; margin-top: 15px;}
#main-collection div.image-scroll-slide ul.slide div.preview-info > p.text {font-size: 16px; margin-top: 15px; color: #333;}
#main-collection div.image-scroll-slide ul.slide div.preview-info > a {display: block; width: 60px; height: 10px; margin-top: 10px;}
/* #main-collection div.image-scroll-slide ul.slide div.preview-info > a::before {content: ''; position: absolute; left: 0; bottom: 0; display: block; width: 110px; height: 0; background-color: #0890c0; box-sizing: border-box;} */
#main-collection div.image-scroll-slide ul.slide div.preview-info > a:hover::before {height: 50px; transition: height 0.5s ease-out;}
#main-collection div.image-scroll-slide ul.slide div.preview-info > a > span {position: relative; font-size: 16px; font-weight: 700; z-index: 1;}

#main-collection div.image-scroll-slide div.scroll {position: relative; margin-top: 31%;}
#main-collection div.image-scroll-slide div.scroll div.whole-bar {width: 100%; height: 4px; box-sizing: border-box; background-color: #C9C9C9; border-radius: 50px;}
#main-collection div.image-scroll-slide div.scroll div.bar {display: block; width: 100%;}
#main-collection div.image-scroll-slide div.scroll div.bar span {display: block; float: left; width: 33.3%; text-indent: -1999px;}
#main-collection div.image-scroll-slide div.scroll div.bar span.on {height: 4px; box-sizing: border-box; background-color: #0890c0; border-radius: 50px;}


#main-event {position: relative; padding-top: 75px; background-color: #f4f7fa;}
#main-event > div.content-box {position: relative; max-width: calc(100% - 70px); margin: 0 auto;}
#main-event div.article-slide p.dummy {opacity: 0;}
#main-event div.article-slide p.dummy img {width: 100%;}
#main-event div.article-slide div.box {position: relative; margin-top: 30px;}
#main-event div.article-slide ul.slide > li.visual img {width: 100%}

#main-event div.article-slide ul.slide > li.visual > ul > li {position: absolute; display: none; top: 0;}
#main-event div.article-slide ul.slide > li.visual > ul > li:first-child {left: 0; display: block;}
#main-event div.article-slide ul.slide > li.visual > ul > li:nth-child(2) {left: 100%;}

#main-event div.article-slide ul.slide li.text > ul {padding: 20px 0;}
#main-event div.article-slide ul.slide li.text em {font-size: 22px; font-weight: 700; line-height: 2em;}
#main-event div.article-slide ul.slide li.text p {font-size: 25px; font-weight: 300;}
#main-event div.article-slide ul.slide li.text > ul > li.on {display: block;}
#main-event div.article-slide ul.slide li.title, 
#main-event div.article-slide ul.slide li.text > ul > li:not(.on) {display: none;}

#main-event div.article-slide div.scroll {position: relative; margin: 10% 0;}
#main-event div.article-slide div.scroll div.whole-bar {width: 100%; height: 4px; box-sizing: border-box; background-color: #C9C9C9; border-radius: 50px;}
#main-event div.article-slide div.scroll div.bar {display: block; width: 100%;}
#main-event div.article-slide div.scroll div.bar span {display: block; float: left; width: 33.3%; text-indent: -1999px;}
#main-event div.article-slide div.scroll div.bar span.on {height: 4px; box-sizing: border-box; background-color: #0890c0; border-radius: 50px;}


#main-sns {position: relative; padding-top: 75px;}
#main-sns > div.content-box {position: relative; max-width: calc(100% - 50px); margin: 0 auto;}
#main-sns div.gallery {margin-top: 40px;}
#main-sns div.gallery > ul {overflow: hidden; padding: 2px; box-sizing: border-box;}
#main-sns div.gallery > ul > li {position: relative; float: left; width: calc(50% - 8px); margin: 0 12px 12px 0;}
#main-sns div.gallery > ul > li:nth-child(2n) {margin-right: 0;}
#main-sns div.gallery > ul > li a {display: block; overflow: hidden;}
#main-sns div.gallery > ul > li a:hover img {transform: scale(1.1); transition-duration: 1s; transition-timing-function: ease-out;}
#main-sns p.sns-list {position: relative; text-align: center;}
#main-sns p.sns-list > a {display: inline-block; margin: 0 24px;}


#main-map {position: relative; margin-top: 150px;}
#main-map > div.content-box {}
#main-map div.close-store {position: relative; left: 10%; width: 90%; height: 30vh; background-color: #0890c0;}
#main-map div.close-store div.box {margin: 90px 70px;}
#main-map div.close-store p.text {line-height: 30px; font-size: 20px; color: #fff; text-align: center;}
#main-map div.close-store p.search {box-sizing: border-box; border-bottom: 2px solid #fff; color: #fff; margin-top: 50px;}
#main-map div.close-store p.search input[type="text"] {border: none; background-color: transparent; padding: 10px 0;}
#main-map div.close-store p.search input[type="text"]::placeholder {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: rgba(221, 221, 221, 0.6); font-size: 14px;}
#main-map div.close-store p.search i {font-size: 18px; margin-left: 10px;}


#main-map ul.store-menu {position: relative; overflow: hidden; margin-top: 20px;}
#main-map ul.store-menu > li {float: left; width: 33%; box-sizing: border-box;}
#main-map ul.store-menu > li + li {border-left: 1px solid #ebebeb;}
#main-map ul.store-menu > li a {position: relative; top: 50%; display: block; line-height: 50px; font-size: 13px; color: #333; text-align: center;}
#main-map ul.store-menu > li a::before {content: ''; display: block; width: 35px; height: 25px; margin: 0 auto;}
#main-map ul.store-menu > li:nth-child(1) a::before {background: url(../img/main-map-icon-01.png) 0 0 no-repeat; background-size: auto 25px;}
#main-map ul.store-menu > li:nth-child(2) a::before {background: url(../img/main-map-icon-02.png) 0 0 no-repeat; background-size: auto 25px;}
#main-map ul.store-menu > li:nth-child(3) a::before {background: url(../img/main-map-icon-03.png) 0 0 no-repeat; background-size: auto 25px;}


#main-contact {position: relative; margin-top: 40px; background: url(../img/main-contact-bg-m.jpg) center bottom no-repeat #b8ada5; background-size: 375px auto; color: #fff;}
#main-contact > div {position: relative; margin: 0 auto;}
#main-contact div.cs {font-size: 13px; border-bottom: 2px solid rgba(255, 255, 255, 0.5); padding: 50px 35px;}
#main-contact div.cs > ul {position: relative; overflow: hidden;}
#main-contact div.cs > ul > li {float: left; width: 50%;}
#main-contact div.cs em {font-weight: 800;}
#main-contact div.cs p.text {margin-top: 16px; font-size: 20px; letter-spacing: 0.05em;}
#main-contact div.cs p.detail {margin-top: 6px;}
#main-contact div.app {}
#main-contact div.app div.box {position: relative; padding: 25px 35px 180px 35px;}
#main-contact div.app p.title {font-size: 20px; line-height: 30px;}
#main-contact div.app ul.app-store {display: block; font-weight: 700; letter-spacing: 0.1em; margin-top: 16px; overflow: hidden;}
#main-contact div.app ul.app-store a {position: relative; display: block; min-width: 100px; height: 40px; line-height: 40px; box-sizing: border-box; border: 1px solid #d1d1d1; padding: 0 24px;}
#main-contact div.app ul.app-store a::before {content: ''; position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 0; background-color: #0890c0; box-sizing: border-box;}
#main-contact div.app ul.app-store a:hover::before {height: 40px; color: #fff; transition: height 0.5s ease-out;}
#main-contact div.app ul.app-store a > span {position: relative; font-size: 14px; font-weight: 700; z-index: 1;}
#main-contact div.app ul.app-store a:hover span {color: #fff;}

#main-contact div.app ul.app-store li {float: left;}
#main-contact div.app ul.app-store li + li {margin-left: 8px;}



/* header */

/* footer */
#footer {position: relative;}

#footer section.site-info div.content-box {position: relative; max-width: calc(100% - 70px); margin: 0 auto; padding: 70px 0;}
#footer section.site-info nav ul > li {display: inline-block; color: #333;}
#footer section.site-info nav {margin-bottom: 16px;}
#footer section.site-info nav ul {overflow: hidden;}
#footer section.site-info nav ul > li {float: left; width: 25%; font-size: 13px; font-weight: 700;}
#footer section.site-info p.copyright {color: #333; font-weight: 300; font-size: 12px;}

#footer div.quick-link {position: absolute; right: 0; bottom: 100%;}
#footer div.quick-link > ul.content {display: none;}
#footer div.quick-link.on > ul.content {display: block;}
#footer div.quick-link > ul.menu > li {position: relative; width: 50px;}
#footer div.quick-link > ul.menu > li:first-child {height: 37px;}
#footer div.quick-link > ul.menu > li:last-child {height: 50px;}
#footer div.quick-link > ul.menu > li:first-child > a {display: block; line-height: 50px; text-align: center; font-size: 13px; font-weight: 700;}
#footer div.quick-link > ul.menu > li:last-child > a {display: block; width: 50px; height: 50px; line-height: 50px; background-color: #f0f0f0; transition: all 0.5s ease;}
#footer div.quick-link > ul.menu > li:last-child > a:hover {background-color: #0890c0;}
#footer div.quick-link > ul.menu > li:last-child > a > p {display: block;}
#footer div.quick-link > ul.menu > li:last-child > a > p > span.more {position: absolute; display: inline-block; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 14px; height: 14px; font-size: 13px; font-weight: 700;}
#footer div.quick-link > ul.menu > li:last-child > a > p > span.more:before {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 2px; background-color: #919191;}
#footer div.quick-link > ul.menu > li:last-child > a > p > span.more::after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 2px; height: 100%; background-color: #919191;}
#footer div.quick-link > ul.menu > li:last-child > a:hover > p > span.more:before {background-color: #fff;}
#footer div.quick-link > ul.menu > li:last-child > a:hover > p > span.more:after {background-color: #fff;}

#footer div.quick-link > ul.content {position: absolute; right: 0; bottom: 0; color: #fff;}
#footer div.quick-link > ul.content div.content-box {width: 280px; height: 560px; background: url(../img/footer-quick-link-catalogue.jpg) top center no-repeat;}
#footer div.quick-link > ul.content div.catalogue {height: 140px; padding: 50px 40px;}
#footer div.quick-link > ul.content div.catalogue > p {line-height: 1.2em; font-size: 20px;}
#footer div.quick-link > ul.content div.catalogue > a {position: relative; display: inline-block; padding-top: 40px;}
#footer div.quick-link > ul.content div.catalogue > a span {display: inline-block; white-space: nowrap;}
#footer div.quick-link > ul.content div.catalogue > a span::before {content: ''; position: absolute; display: inline-block; left: 0; bottom: 0; width: 0; height: 7px; background: rgba(255, 255, 255, 0.3);}
#footer div.quick-link > ul.content div.catalogue > a:hover span::before {width: 100%; transition: width 0.4s ease-out;}
#footer div.quick-link > ul.content div.quick-menu-list {position: relative; height: 240px; padding: 40px 40px; background-color: #fff;}
#footer div.quick-link > ul.content div.quick-menu-list > ul {overflow: hidden;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li {float: left; width: 200px; box-sizing: border-box;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li a {position: relative; display: block;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li a span {position: relative; display: block; top: 50%; transform: translate(0, -50%); text-align: center; font-size: 14px; color: #666; font-weight: 700;}
#footer div.quick-link > ul.content div.quick-menu-list a > span::before {content: ''; display: block; width: 46px; height: 32px;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(1) a > span::before {background: url(../img/footer-quick-link-icon-01.png) 0 0 no-repeat; background-position-y: center;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(2) a > span::before {background: url(../img/footer-quick-link-icon-02.png) 0 0 no-repeat; background-position-y: center;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(3) a > span::before {background: url(../img/footer-quick-link-icon-03.png) 0 0 no-repeat; background-position-y: center;}

#footer div.quick-link > ul.content div.quick-menu-list > p.close {position: absolute; right: 20px; bottom: 20px;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a {position: relative; display: block; width: 24px; height: 24px;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a::before {content: ''; position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); width: 100%; height: 2px; background-color: #666; transition: all 0.3s;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 2px; background-color: #666; text-indent: -9999px; transition: all 0.3s;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 50%); width: 100%; height: 2px; background-color: #666; transition: all 0.3s;}

#footer div.quick-link > ul.content div.quick-menu-list > p.close a::before {top: 50%; width: 120%; transform: translate(-50%, -50%) rotate(45deg);}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a span {opacity: 0;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a::after {bottom: 50%; width: 120%; transform: translate(-50%, 50%) rotate(-45deg);}


/* module */
div[class$="-slide"] {overflow: hidden;}
div.image-slide > div.box {position: relative; width: calc(100vw - 70px); height: calc(100vh - 120px); margin: 0 auto; overflow: hidden;}
div[class$="-slide"] p.dummy {opacity: 0;}
div.image-slide > ul.slide > ul.slide {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
div.image-slide > ul.slide > li {position: absolute; display: none; top: 0; left: 0; width: 100%; height: 100%;}
div.image-slide > ul.slide > li:first-child {display: block;}
div.image-slide > ul.slide > li:nth-child(2) {left: 100%;}
div.image-slide > ul.slide > li:nth-child(3) {left: 200%;}
div[class$="-slide"]  ul.slide > li a {display: block;}
div.image-slide ul.slide > li video, 
div.image-slide ul.slide > li img {transform: translate(-35%, -10%);}

div[class$="-slide"] ul.indicator {position: absolute; left: 50%; bottom: 30px; transform: translate(-50%, 0);}
div[class$="-slide"] ul.indicator > li {display: inline-block;}
div[class$="-slide"] ul.indicator > li + li {margin-left: 10px;}
div[class$="-slide"] ul.indicator > li > a {display: block; width: 10px; height: 10px; border-radius: 100px; background-color: rgba(255, 255, 255, 0.3); overflow: hidden; text-indent: -999px;}
div[class$="-slide"] ul.indicator > li.on > a {background-color: rgba(255, 255, 255, 1);}

















/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}
#main-faq a.more:hover i {animation: btn-effect-right 0.3s ease 0s infinite alternate forwards;}
*/
