@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}


/* common */
body {font-family: 'NanumSquare', sans-serif; font-size: 14px; color: #000000; background: #ffffff;}
#skip-nav {position: fixed; top: -40px; left: 0; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}

#mobile-menu {position: relative; top: 50%; left: 50%; width: calc(100% - 40px); transform: translate(-50%, -50%);}
#mobile-menu > ul {color: #666; font-size: 15px; font-weight: 400; overflow: hidden;}
#mobile-menu > ul > li {line-height: 24px;}
#mobile-menu > ul > li + li  {margin-left: 10px;}
#mobile-menu > ul > li:nth-child(1) {float: left;}
#mobile-menu > ul > li:nth-child(2) {float: right;}
#mobile-menu > ul > li > a {display: block; width: 20px; height: 20px;}

body.main #mobile-menu > ul > li > a > img.black {display: block;}
body.main #mobile-menu > ul > li > a > img.white {display: none;}
body.sub #mobile-menu > ul > li > a > img.black {display: none;}
body.sub #mobile-menu > ul > li > a > img.white {display: block;}

a.custom-arrow span {position: relative; line-height: 1em; font-size: 12px; letter-spacing: 0.1em;}
a.custom-arrow span::before {content: ''; position: absolute; left: calc(100% + 0.5em); top: 54%; width: 0.4em; height: 0.4em; line-height: 1em; box-sizing: border-box; border-top: 1px solid #fff; border-right: 1px solid #fff; transform: translate(-50%, -50%) rotate(45deg);}



/* header */
@media screen and (min-width: 767.9px) and (max-width:1279.9px) {
  #header {position: fixed; top: 0; left: 0; width: 100%; z-index: 10000;}
  #header div.top {padding: 14px 0;}
  #header div.top > div.content-box {position: relative; max-width: calc(100% - 160px); height: 40px; margin: 0 auto;}
  #header div.top > div.content-box > ul {position: absolute; top: 50%; right: 0; transform: translate(0, -50%);}
  #header div.top > div.content-box > ul > li {float: left; line-height: 40px; color: #666; font-size: 15px; font-weight: 400;}
  #header div.top > div.content-box > ul > li:nth-child(-n+2) {margin-right: 15px; padding-right: 15px;}
  #header div.top > div.content-box > ul > li:nth-child(n+3) {color: #fff; font-weight: 700;}
  #header div.top > div.content-box > ul > li:nth-child(3) > a {padding: 8px 15px 8px 33px; background: url(../img/wedding-icon.png) left 14px center no-repeat #139cae; border-radius: 50px; box-sizing: border-box; margin-right: 5px;}
  #header div.top > div.content-box > ul > li:nth-child(4) > a {padding: 8px 15px; background: #9badb6; border-radius: 50px; border-radius: 50px; box-sizing: border-box;} 

  #header div.bottom {}
  #header > div.bottom > div.content-box {position: relative; height: 52px; margin: 0 auto;}
  #header h1 a {display: block;}
  #header h1 a img {display: block;}
  body.main #header h1 a img.black {display: block;}
  body.main #header h1 a img.white {display: none;}
  body.sub #header h1 a img.black {display: none;}
  body.sub #header h1 a img.white {display: block;}
  /* header mouse hover */
  #header::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; transition: height 0.4s ease;}
  #header.open::before {height: 350px; box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);}
  #header.open h1 {display: none;}
  #header.open #gnb > ul > li {height: 260px;}
  #header.open #gnb > ul.bed-product > li > a.kr {display: block;}
  #header.open #gnb > ul.bed-product > li > a.en {display: none;}
  /* end of header mouse hover */
  #header > div.bottom > div.content-box {max-width: calc(100% - 10%);}
  #header h1 {position: absolute; top: 50%; left: 0; transform: translate(0, -50%);}

  #gnb > ul {position: absolute; top: 35%;}
  /* #gnb > ul {position: absolute; top: 50%; transform: translate(0, -50%);} */
  #gnb > ul > li {position: relative; float: left; color: #333; font-size: 17px; font-weight: 700;}
  #gnb > ul.etc > li.search {font-size: 18px;}
  body.main #gnb li.menu img.black {display: block;}
  body.main #gnb li.menu img.white {display: none;}
  body.sub #gnb li.menu img.black {display: none;}
  body.sub #gnb li.menu img.white {display: block;}
  
  #gnb > ul > li > a.kr {display: none;}
  #gnb > ul > li > a.en {display: block;}
  #gnb > ul > li.on > a {color: #0890c0;}
  #gnb > ul > li > ul {position: absolute; display: none; width: 100%; padding: 1em 0;}
  #gnb > ul > li > ul > li {font-size: 15px; font-weight: 400; padding: 0.5em 0;}
  #gnb > ul > li > ul > li > a {position: relative;}
  #gnb > ul > li > ul > li span {display: inline-block; white-space: nowrap;}
  #gnb > ul > li > ul > li span::before {content: ''; position: absolute; display: block; left: 0; bottom: 0; width: 0; height: 4px; background: #d6eff8;}
  #gnb > ul > li > ul > li > a:hover span::before {width: 100%; transition: width 0.8s ease-out;}
  #gnb > ul.about-ace > li:last-child, 
  #gnb > ul.bed-product > li:last-child {padding-right: 0;}

  #gnb > ul.bed-product {left: 0; width: 70%; margin-left: calc(12% + 130px);}
  #gnb > ul.about-ace {display: none;}
  #gnb > ul.etc {right: 0; width: 70px;}
  #gnb > ul.bed-product > li + li {margin-left: 6%;}
  #gnb > ul.etc > li + li {margin-left: 30%;}

  /* header mouse hover */
  #header::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; transition: height 0.4s ease;}
  #header.open::before {height: 350px; box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);}
  #header.open h1 {display: none;}
  #header.open #gnb > ul > li {height: 260px;}
  #header.open #gnb > ul.bed-product > li > a.kr {display: block;}
  #header.open #gnb > ul.bed-product > li > a.en {display: none;}
  #header.open.bed-product #gnb > ul.bed-product > li + li {margin-left: 8%;}
  /* end of header mouse hover */

  #mobile-menu {display: none !important;}
  #gnb div.search-box {position: absolute; width: 100%; height: 0; background: #ffffff; box-sizing: border-box; overflow: hidden;} 
  #main {padding-top: 170px;}
  #main-visual div.image-slide > div.box {height: calc(100vh - 280px);}
  #main-visual div.image-slide video, 
  #main-visual div.image-slide img {width: 100%; height: calc(100vh - 280px); object-fit: cover;}
  #main-visual div.image-slide img.m {display: none;}

}
@media screen and (max-width: 767.9px) {
  #header div.top {display: none;}
  #gnb {display: none;}
  #header {position: fixed; top: 0; left: 0; width: 100%; height: 85px; line-height: 85px; z-index: 10000; background-color: #fff;}
  /* #header {position: relative; height: 85px; line-height: 85px;} */
  #header h1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  #header h1 a {display: block;}
  #header h1 a img {display: block; width: 90px;}
  body.main #header h1 a img.black {display: block;}
  body.main #header h1 a img.white {display: none;}
  body.sub #header h1 a img.black {display: none;}
  body.sub #header h1 a img.white {display: block;}
  #main-visual {margin-top: 85px;}
  #main-visual div.image-slide video, 
  #main-visual div.image-slide img {width: 100%; height: calc(100vh - 180px); object-fit: cover;}
  #main-visual div.image-slide img.p {display: none;}
}

#gnb > ul > li > div.layer-mask {position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 5000; background-color: rgba(0, 0, 0, 0.5); display: none; z-index: -1;}
#gnb > ul > li.on > div.layer-mask {display: block; animation: show-up-mask 1s ease 0s 1 normal forwards;}
#gnb > ul > li.on > div.search-box {height: 280px;}
#gnb > ul > li.on > div.search-box > div.box {height: 230px;}
#gnb div.search-box {position: fixed; top: 120px; left: 0; width: 100%; box-sizing: border-box; overflow: hidden;} 
#gnb div.search-box > div.box {position: relative; height: 0; background-color: #fff; transition: height 0.5s;}
#gnb div.search-box p.search {position: relative; display: inline-block; top: 0; left: 50%; width: 40%; transform: translate(-50%, 0); padding: 80px 0;}
#gnb div.search-box p.search > input[type="text"] {width: 100%; border: none; border-bottom: 3px solid #000; background-color: transparent; padding: 20px 0; font-size: 20px; color: #333;}
#gnb div.search-box p.search > input[type="text"]::placeholder {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #888; font-size: 18px;}
#gnb div.search-box p.search > label {position: absolute; top: 50%; right: 0; padding: 20px 0; font-size: 25px; transform: translate(0, -50%);}

#gnb div.search-box p.close {position: absolute; bottom: -50px; width: 100%; text-align: center;}
#gnb div.search-box p.close > a {display: inline-block; width: 24px; height: 24px;}
#gnb div.search-box p.close > a::before {background-color: #fff; transition: all 0.3s;}
#gnb div.search-box p.close > a::after {background-color: #fff; transition: all 0.3s;}

/* footer */
#footer {position: relative;}

#footer section.site-info div.content-box {position: relative; max-width: calc(100% - 70px); margin: 0 auto; padding: 70px 0;}
#footer section.site-info nav ul > li {display: inline-block; color: #333;}
#footer section.site-info nav {margin-bottom: 16px;}
#footer section.site-info nav ul {overflow: hidden;}
#footer section.site-info nav ul > li {float: left; width: 25%; font-size: 13px; font-weight: 700;}
#footer section.site-info p.copyright {color: #333; font-weight: 300; font-size: 12px;}

#footer div.quick-link {position: absolute; right: 0; bottom: 100%;}
#footer div.quick-link > ul.content {display: none;}
#footer div.quick-link.on > ul.content {display: block;}
#footer div.quick-link > ul.menu > li {position: relative; width: 50px;}
#footer div.quick-link > ul.menu > li:first-child {height: 37px;}
#footer div.quick-link > ul.menu > li:last-child {height: 50px;}
#footer div.quick-link > ul.menu > li:first-child > a {display: block; line-height: 50px; text-align: center; font-size: 13px; font-weight: 700;}
#footer div.quick-link > ul.menu > li:last-child > a {display: block; width: 50px; height: 50px; line-height: 50px; background-color: #0890c0;}
#footer div.quick-link > ul.menu > li:last-child > a > p {display: block;}
#footer div.quick-link > ul.menu > li:last-child > a > p > span.more {position: absolute; display: inline-block; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 14px; height: 14px; font-size: 13px; font-weight: 700;}
#footer div.quick-link > ul.menu > li:last-child > a > p > span.more:before {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 2px; background-color: #fff;}
#footer div.quick-link > ul.menu > li:last-child > a > p > span.more::after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 2px; height: 100%; background-color: #fff;}

#footer div.quick-link > ul.content {position: fixed; right: 0; bottom: 0; width: 100%; color: #fff;}
#footer div.quick-link > ul.content div.content-box {width: 100%; background: url(../img/footer-quick-link-catalogue.jpg) top center no-repeat; background-size: cover;}
#footer div.quick-link > ul.content div.catalogue {padding: 5%;}
#footer div.quick-link > ul.content div.catalogue > p {line-height: 1.6em; font-size: 15px;}
#footer div.quick-link > ul.content div.catalogue > a {position: relative; display: inline-block; padding-top: 30px;}
#footer div.quick-link > ul.content div.catalogue > a span {display: inline-block; white-space: nowrap; font-weight: 700;}
#footer div.quick-link > ul.content div.catalogue > a span::before {content: ''; position: absolute; display: inline-block; left: 0; bottom: 0; width: 0; height: 7px; background: rgba(255, 255, 255, 0.3);}
#footer div.quick-link > ul.content div.catalogue > a:hover span::before {width: 100%; transition: width 0.4s ease-out;}
#footer div.quick-link > ul.content div.quick-menu-list {position: relative; padding: 8% 0 6% 0; background-color: #fff;}
#footer div.quick-link > ul.content div.quick-menu-list > ul {width: 90%; margin: 0 auto; overflow: hidden;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li {float: left;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(1) {width: 100%;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(2),
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(3) {width: 48%;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(2) + li {margin-left: 4%;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li a {position: relative; display: block; width: 100%; box-sizing: border-box; border: 1px solid rgb(235, 235, 235); margin: 2% 0; padding: 5px 0; text-align: center;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li a span {position: relative; display: inline-block; line-height: 30px; text-align: center; font-size: 14px; color: #666; font-weight: 700; padding-left: 50px;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(1) a span {background: url(../img/footer-quick-link-icon-01.png) left center no-repeat; background-position-y: center; background-size: 35px auto;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(2) a span {background: url(../img/footer-quick-link-icon-02.png) left center no-repeat; background-position-y: center; background-size: 35px auto;}
#footer div.quick-link > ul.content div.quick-menu-list > ul > li:nth-child(3) a span {background: url(../img/footer-quick-link-icon-03.png) left center no-repeat; background-position-y: center; background-size: 35px auto;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close {position: absolute; right: 0; bottom: 0;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a {position: relative; display: block; width: 50px; height: 50px; background-color: #c3c3c3;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a::before {content: ''; position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); width: 100%; height: 2px; background-color: #fff; transition: all 0.3s;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 2px; background-color: #fff; text-indent: -9999px; transition: all 0.3s;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 50%); width: 100%; height: 2px; background-color: #fff; transition: all 0.3s;}

#footer div.quick-link > ul.content div.quick-menu-list > p.close a::before {top: 50%; width: 30%; transform: translate(-50%, -50%) rotate(45deg);}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a span {opacity: 0;}
#footer div.quick-link > ul.content div.quick-menu-list > p.close a::after {bottom: 50%; width: 30%; transform: translate(-50%, 50%) rotate(-45deg);}


/* module */
div[class$="-slide"] {overflow: hidden;}
div.image-slide > div.box {position: relative; width: 90vw; height: calc(100vh - 180px); margin: 0 auto; overflow: hidden;}
div[class$="-slide"] p.dummy {opacity: 0;}
ul.slide {position: absolute; left: 0; width: 100%; height: 100%;}
div.image-slide ul.slide > li {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
ul.slide > li a {display: block;}

ul.indicator {position: absolute; left: 50%; bottom: 30px; transform: translate(-50%, 0);}
ul.indicator > li {display: inline-block;}
ul.indicator > li + li {margin-left: 10px;}
ul.indicator > li > a {display: block; width: 10px; height: 10px; border-radius: 100px; background-color: rgba(255, 255, 255, 0.3); overflow: hidden; text-indent: -999px;}
ul.indicator > li.on > a {background-color: rgba(255, 255, 255, 1);}

a.btn {position: relative; display: inline-block; min-width: 100px; height: 40px; line-height: 40px; box-sizing: border-box; border: 1px solid #d1d1d1;}
a.btn::before {content: ''; position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 0; background-color: #0890c0; box-sizing: border-box;}
a.btn:hover::before {height: 40px; color: #fff; transition: height 0.5s ease-out;}
a.btn > span {position: relative; font-weight: 700; z-index: 1;}
a.btn:hover span {color: #fff;}

div.bar {position: relative; height: 60px;}
div.bar::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 4px; box-sizing: border-box; border-radius: 50px; background-color: #C9C9C9;}
div.bar span {position: absolute; top: 0; height: 4px; box-sizing: border-box; border-radius: 50px; transition: left 1s; background-color: #0890c0;}




/* main (common) */
#main > section div.title > h3 {position: relative; text-align: center; font-size: 25px; font-weight: 400; letter-spacing: 0.05em; animation: textFadeInUp 1s;}

@keyframes textFadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}




/* main */


@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  #main-science {position: relative; padding-top: 150px; padding-bottom: 80px;}
  #main-science div.article-slide {position: relative; }
  #main-science {position: relative; padding-top: 80px;}
  #main-science div.article-slide {position: relative; margin-top: 30px; color: #fff;}
  #main-science div.article-slide > div.box {position: relative; width: 50%; height: calc(100vh - 70px); margin: 0 auto; overflow: hidden;}
  #main-science div.article-slide img, 
  #main-science div.article-slide video {max-width: 621px; height: 90vh; object-fit: cover;}
  #main-science div.article-slide ul.slide {top: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide ul {position: relative;}
  #main-science div.article-slide ul.slide li.visual {position: relative; margin: 0 auto; width: 100%; height: 100%; overflow: hidden;}
  #main-science div.article-slide ul.slide li.visual > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.visual > ul > li {position: absolute; display: none; top: 0; left: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.visual > ul > li::after {content: ''; position: absolute; top: 10%; left: 0; width: 100%; height: 100%; background: url(../img/main-science-back-m.png) center center no-repeat;}
  
  #main-science div.article-slide ul.slide li.title, 
  #main-science div.article-slide ul.slide li.text {position: absolute; top: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.title > ul,
  #main-science div.article-slide ul.slide li.text > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.title > ul > li {margin: 52% 6% 0 6%;}
  #main-science div.article-slide ul.slide li.text > ul > li {margin: 62% 6% 0 6%;}
  #main-science div.article-slide ul.slide li.title > ul > li,
  #main-science div.article-slide ul.slide li.text > ul > li {position: absolute; display: none; top: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.title a {font-size: 20px; font-weight: 800; letter-spacing: 0.03em;}
  #main-science div.article-slide ul.slide li.text p.title {line-height: 35px; font-size: 25px; font-weight: 700; margin-bottom: 15px; letter-spacing: -0.1em;}
  #main-science div.article-slide ul.slide li.text p.content {width: 88%; height: 20%; line-height: 30px; font-size: 16px; white-space: pre-line; overflow: hidden;}

  #main-science div.article-slide p.control {display: none !important;}
  #main-science div.article-slide ul.indicator {position: absolute; display: block !important; left: 50%; bottom: 30px; transform: translate(-50%, 0);}
  #main-science div.article-slide ul.indicator > li {display: inline-block;}
  #main-science div.article-slide ul.indicator > li + li {margin-left: 10px;}
  #main-science div.article-slide ul.indicator > li > a {display: block; width: 10px; height: 10px; border-radius: 100px; background-color: rgba(255, 255, 255, 0.3); overflow: hidden; text-indent: -999px;}
  #main-science div.article-slide ul.indicator > li.on > a {background-color: rgba(255, 255, 255, 1);}
}
@media screen and (max-width: 767.9px) {
  #main-science {position: relative; padding-top: 80px;}
  #main-science div.article-slide {position: relative; margin-top: 30px; color: #fff;}
  #main-science div.article-slide > div.box {position: relative; width: 100%; height: calc(100vh - 70px); margin: 0 auto; overflow: hidden;}
  #main-science div.article-slide img, 
  #main-science div.article-slide video {max-width: 768px; height: 90vh; object-fit: cover;}
  #main-science div.article-slide ul.slide {top: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide ul {position: relative;}
  #main-science div.article-slide ul.slide li.visual {position: relative; margin: 0 auto; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.visual > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.visual > ul > li {position: absolute; display: none; top: 0; left: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.visual > ul > li::after {content: ''; position: absolute; top: 10%; left: 0; width: 100%; height: 100%; background: url(../img/main-science-back-m.png) center center no-repeat;}

  #main-science div.article-slide ul.slide li.title, 
  #main-science div.article-slide ul.slide li.text {position: absolute; top: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.title > ul,
  #main-science div.article-slide ul.slide li.text > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.title > ul > li {margin: 52% 6% 0 6%;}
  #main-science div.article-slide ul.slide li.text > ul > li {margin: 62% 6% 0 6%;}
  #main-science div.article-slide ul.slide li.title > ul > li,
  #main-science div.article-slide ul.slide li.text > ul > li {position: absolute; display: none; top: 0; width: 100%; height: 100%;}
  #main-science div.article-slide ul.slide li.title a {font-size: 20px; font-weight: 800; letter-spacing: 0.03em;}
  #main-science div.article-slide ul.slide li.text p.title {line-height: 35px; font-size: 25px; font-weight: 700; margin-bottom: 15px; letter-spacing: -0.1em;}
  #main-science div.article-slide ul.slide li.text p.content {width: 88%; height: 20%; line-height: 30px; font-size: 16px; white-space: pre-line; overflow: hidden;}
}

#main-collection {position: relative; padding-top: 80px; background-color: #f4f7fa;}
/* #main-collection > div.content-box {position: relative; max-width: calc(100% - 70px); margin: 0 auto;} */
#main-collection div.image-scroll-slide img {width: 100%;}
#main-collection div.image-scroll-slide p.tab {text-align: center; margin: 25px 0;}
#main-collection div.image-scroll-slide p.tab span {font-size: 16px; color: #888; cursor: pointer;}
#main-collection div.image-scroll-slide p.tab span.on {color: #0890c0; font-weight: 800;}
#main-collection div.image-scroll-slide p.tab span + span::before {content: '|'; margin: 0 20px; font-size: 14px; color: #ddd;}

#main-collection div.image-scroll-slide > div.box {position: relative; width: calc(100% - 40px); margin: 0 auto; overflow: hidden;}
#main-collection div.image-scroll-slide ul.slide {bottom: 0; width: 35%; height: 25%;}
#main-collection div.image-scroll-slide ul.slide > li {position: absolute; display: none; width: 100%; height: 100%;}
#main-collection div.image-scroll-slide ul.slide > li a {display: block;}

#main-collection div.image-scroll-slide ul.slide > li div.box {position: absolute; top: 0; left: 0; width: 100%;}
#main-collection div.image-scroll-slide ul.slide > li div.box em {display: block; margin-top: 10%; font-size: 19px; font-weight: 700; color: #333;}

#main-collection div.image-scroll-slide.new > div.box > div.pick > div.new {display: block;}
#main-collection div.image-scroll-slide.rec > div.box > div.pick > div.new {display: none;}
#main-collection div.image-scroll-slide.rec > div.box > div.pick > div.rec {display: block;}
#main-collection div.image-scroll-slide.new > div.box > div.pick > div.rec {display: none;}

#main-collection div.image-scroll-slide div.pick div.preview-info {color: #333; padding: 25px 0;}
#main-collection div.image-scroll-slide div.pick div.preview-info > p.tag {font-size: 16px;}
#main-collection div.image-scroll-slide div.pick div.preview-info > p.tag span {display: inline-block; box-sizing: border-box; border: 1px solid #ddd; border-radius: 50px; padding: 4px 10px; margin-right: -4px;}
#main-collection div.image-scroll-slide div.pick div.preview-info > p.title {font-size: 24px; font-weight: 800; margin-top: 15px;}
#main-collection div.image-scroll-slide div.pick div.preview-info > p.text {font-size: 16px; margin-top: 15px; color: #333;}
#main-collection div.image-scroll-slide div.pick div.preview-info > a {display: block; width: 60px; height: 10px; margin-top: 15px;}
#main-collection div.image-scroll-slide div.pick div.preview-info > a:hover::before {height: 50px; transition: height 0.5s ease-out;}
#main-collection div.image-scroll-slide div.pick div.preview-info > a > span {position: relative; font-size: 16px; font-weight: 700; z-index: 1;}
#main-collection div.image-scroll-slide ul.slide div.preview-info {display: none;}

#main-collection div.image-scroll-slide div.scroll {position: relative; margin-top: 31%;}
#main-collection div.image-scroll-slide div.scroll {position: relative; width: calc(100% - 40px); max-width: 1270px; max-height: 720px; margin: 3% auto;}

#main-collection div.image-scroll-slide p.dummy {position: relative; left: 0; bottom: 0; width: 35%; opacity: 0; padding: 2% 0 13% 0;}
#main-collection div.image-scroll-slide p.more {text-align: center; padding-top: 4%;}
#main-collection div.image-scroll-slide p.more > a.btn {width: 20%; padding: 0 25px; border: 1px solid #000;}
#main-collection div.image-scroll-slide p.more > a.btn > span {font-size: 14px;}



#main-event {position: relative; padding-top: 75px; background-color: #f4f7fa;}
#main-event > div.content-box {position: relative; max-width: calc(100% - 70px); margin: 0 auto;}
#main-event div.article-slide p.dummy {opacity: 0;}
#main-event div.article-slide p.dummy img {width: 100%; max-width: 710px;}
#main-event div.article-slide div.box {position: relative; margin-top: 30px;}
#main-event div.article-slide ul.slide > li.visual img {width: 100%; max-width: 710px;}
#main-event div.article-slide ul.slide > li.visual > ul > li {position: absolute; display: none; top: 0;}
#main-event div.article-slide ul.slide {top: 0; width: 100%; height: 100%;}
#main-event div.article-slide ul.slide ul {position: relative;}
#main-event div.article-slide ul.slide li.visual {position: relative; margin: 0 auto; width: 100%; height: 100%; max-width: 710px; overflow: hidden;}
#main-event div.article-slide ul.slide li.visual > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#main-event div.article-slide ul.slide li.visual > ul > li {position: absolute; display: none; top: 0; left: 0; width: 100%; height: 100%;} 

#main-event div.article-slide ul.slide > li.title {display: none;}
#main-event div.article-slide ul.slide > li.text {position: relative; width: 100%; height: 50%; overflow: hidden;}
#main-event div.article-slide ul.slide > li.text > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#main-event div.article-slide ul.slide > li.text > ul > li {position: absolute; top: 0; width: 100%; height: 100%; padding: 5% 0;}
#main-event div.article-slide ul.slide > li.text em {font-size: 22px; font-weight: 700; line-height: 2em;}
#main-event div.article-slide ul.slide > li.text p {font-size: 25px; font-weight: 400;}
#main-event div.article-slide ul.slide > li.text a.mobile {width: 60px; height: 16px; margin-top: 30px;}

#main-event div.article-slide div.scroll {position: relative; margin: 250px 0 100px 0;}


#main-sns {position: relative; padding-top: 75px;}
#main-sns > div.content-box {position: relative; max-width: calc(100% - 50px); margin: 0 auto;}
#main-sns div.gallery {margin-top: 40px;}
#main-sns div.gallery > ul {overflow: hidden; padding: 2px; box-sizing: border-box;}
#main-sns div.gallery > ul > li {position: relative; float: left; width: calc(50% - 8px); margin: 0 12px 12px 0;}
#main-sns div.gallery > ul > li:nth-child(2n) {margin-right: 0;}
#main-sns div.gallery > ul > li a {display: block; overflow: hidden;}
#main-sns div.gallery > ul > li a:hover img {transform: scale(1.1); transition-duration: 1s; transition-timing-function: ease-out;}
#main-sns p.sns-list {position: relative; text-align: center;}
#main-sns p.sns-list > a {display: inline-block; margin: 20px 12px;}


#main-map {position: relative; margin-top: 75px;}
#main-map > div.content-box {}
#main-map div.close-store {position: relative; right: 0; width: 95%; height: 33vh; background-color: #0890c0; transition: width 0.8s; margin-left: 5%;}
#main-map div.close-store div.box {padding: 50px 30px;}
#main-map div.close-store p.text {line-height: 30px; font-size: 20px; color: #fff;}
#main-map div.close-store p.search {box-sizing: border-box; border-bottom: 2px solid #fff; color: #fff; margin-top: 50px;}
#main-map div.close-store p.search input[type="text"] {width: 90%; border: none; background-color: transparent; padding: 10px 0;}
#main-map div.close-store p.search input[type="text"]::placeholder {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: rgba(221, 221, 221, 0.6); font-size: 14px;}
#main-map div.close-store p.search i {font-size: 18px; margin-left: 10px;}

#main-map ul.store-menu {position: relative; overflow: hidden; margin-top: 20px;}
#main-map ul.store-menu > li {float: left; width: 33%; box-sizing: border-box;}
#main-map ul.store-menu > li + li {border-left: 1px solid #ebebeb;}
#main-map ul.store-menu > li a {position: relative; top: 50%; display: block; line-height: 50px; font-size: 13px; color: #333; text-align: center;}
#main-map ul.store-menu > li a::before {content: ''; display: block; width: 35px; height: 25px; margin: 0 auto;}
#main-map ul.store-menu > li:nth-child(1) a::before {background: url(../img/main-map-icon-01.png) 0 0 no-repeat; background-size: auto 25px;}
#main-map ul.store-menu > li:nth-child(2) a::before {background: url(../img/main-map-icon-02.png) 0 0 no-repeat; background-size: auto 25px;}
#main-map ul.store-menu > li:nth-child(3) a::before {background: url(../img/main-map-icon-03.png) 0 0 no-repeat; background-size: auto 25px;}


#main-contact {position: relative; margin-top: 40px; background: url(../img/main-contact-bg-m.jpg) center bottom no-repeat #b8ada5; background-size: 375px auto; color: #fff;}
#main-contact > div {position: relative; margin: 0 auto;}
#main-contact div.cs {font-size: 13px; border-bottom: 2px solid rgba(255, 255, 255, 0.5); padding: 11% 6%;}
#main-contact div.cs > ul {position: relative; overflow: hidden;}
#main-contact div.cs > ul > li {float: left; width: 50%;}
#main-contact div.cs em {font-weight: 800;}
#main-contact div.cs p.text {margin-top: 16px; font-size: 20px; letter-spacing: 0.05em;}
#main-contact div.cs p.detail {margin-top: 6px;}
#main-contact div.app {}
#main-contact div.app div.box {position: relative; padding: 6% 10% 38% 6%;}
#main-contact div.app p.title {font-size: 20px; line-height: 30px;}
#main-contact div.app p.more {text-align: right;}
#main-contact div.app ul.app-store {display: block; font-weight: 700; letter-spacing: 0.1em; margin-top: 16px; overflow: hidden;}
#main-contact div.app ul.app-store a.btn {width: 95%; text-align: center;}
#main-contact div.app ul.app-store a.btn > span {font-size: 14px;}

#main-contact div.app ul.app-store li {float: left; width: 50%;}
/* #main-contact div.app ul.app-store li + li {margin-left: 8px;} */



/* sub(page) */


/* sub */
body.sub #header:not(.open)::before {background-color: transparent;}
body.sub #header:not(.open) div.top ul > li {color: #fff;}
body.sub #header:not(.open) #gnb > ul > li {color: #fff;}
body.sub #header:not(.open) div.top ul > li:nth-child(3) > a {padding: 8px 15px 8px 33px; background: url(../img/wedding-icon.png) left 14px center no-repeat transparent; border: 1px solid #fff; border-radius: 50px; box-sizing: border-box; margin-right: 5px;}
body.sub #header:not(.open) div.top ul > li:nth-child(4) > a {padding: 8px 15px; background-color: transparent; border: 1px solid #fff; border-radius: 50px; border-radius: 50px; box-sizing: border-box;} 

body.sub #main p.sub-header {position: relative; width: 100%;}
body.sub #main div.sub-header h2 {font-size: 30px; font-weight: 700; color: #fff; text-align: center;}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {body.sub #main {position: relative; padding-top: 0;}
  body.sub.bed #main div.background-matt {padding: 300px 0 160px 0;}
  body.sub.bed-frame #main div.background-matt {background: url(../img/sub-head-visual-frame.jpg) center center no-repeat;}
  body.sub.bed-mattress #main div.background-matt {background: url(../img/sub-head-visual-mattress.jpg) center center no-repeat;}

  #sub-product-list {position: relative; padding-bottom: 160px; border-bottom: 1px solid #ebebeb; box-sizing: border-box;}
  #sub-product-list div.product {margin-top: 20px;}
  #sub-product-list > div.product > div.content-box {position: relative; max-width: calc(100% - 80px); margin: 0 auto;}
  #sub-product-list div.top {position: relative; margin-bottom: 30px; overflow: hidden;}
  #sub-product-list div.top > p.total-product {position: relative; float: left; width: 22%; font-size: 18px; color: #666;}
  #sub-product-list div.top > p.total-product > strong.num {color: #333;}
  #sub-product-list div.top > div.filter {position: relative; display: none; float: left; width: 60%; font-size: 17px; font-weight: 700;  color: #333;}
  #sub-product-list div.top > div.filter.on {display: block;}
  #sub-product-list div.top > div.filter span.clear {float: left; padding: 8px 20px; background-color: #e5e5e5; border-radius: 100px; cursor: pointer;}
  #sub-product-list div.top > div.filter > ul {overflow: hidden; padding: 0 5px;}
  #sub-product-list div.top > div.filter > ul > li {position: relative; float: left;}
  #sub-product-list div.top > div.filter > ul > li > span {padding: 0 15px; font-size: 17px;}
  #sub-product-list div.top > div.filter > ul > li > a {display: inline-block; width: 15px; line-height: 30px; background: url(../img/icon-btn-del.png) center center no-repeat; transform: translate(-50%, 0); text-indent: -9999px;}
  #sub-product-list div.top ul.arr-list {position: absolute; top: 0; right: 0;}
  #sub-product-list div.top ul.arr-list > li {position: relative; float: left;}
  #sub-product-list div.top > ul.arr-list > li.view {display: none;}
  #sub-product-list div.top > ul.arr-list li.order {}
  #sub-product-list div.top > ul.arr-list li.order > a > span {margin-right: 6px;}
  #sub-product-list div.top > ul.arr-list li.order select.arr {width: 100px; height: 20px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; background: url(../img/icon-select.png) 95% 50% no-repeat; font-family: inherit; font-size: 16px; font-weight: 700; color: #333; text-align: center;}
  #sub-product-list div.top > ul.arr-list li.order select.arr::-ms-expand {display: none;} /*IE10*/
  #sub-product-list div.top-m {display: none;}

  #sub-product-list div.bottom {position: relative; margin-top: 50px; overflow: hidden;}
  #sub-product-list div.side {float: left; width: 25%;}
  #sub-product-list div.side div.search-box {border: 1px solid #ebebeb; box-sizing: border-box; box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 5%);}
  #sub-product-list div.side div.search-box > p {position: relative; line-height: 50px; background-color: #adc4ce; color: #fff;}
  #sub-product-list div.side div.search-box > p i {color: #fff;}
  #sub-product-list div.side div.search-box > p label {position: absolute; right: 5%;}
  #sub-product-list div.side div.search-box input[type="text"] {width: 70%; margin-left: 15%; border: none; background-color: transparent; color: #ffffff; font-family: inherit; color: inherit; font-size: 16px; font-weight: 400; box-sizing: border-box;}
  #sub-product-list div.side div.search-box input[type="text"]::placeholder {color: inherit;}
  #sub-product-list div.side div.search-box.on > div.keyword {display: block; margin: 0 30px 0 80px;}
  #sub-product-list div.side div.search-box > div.keyword {display: none;}
  #sub-product-list div.side div.search-box > div.keyword p.title {color: #333; padding-bottom: 10px; font-weight: 700; font-size: 16px;}
  #sub-product-list div.side div.search-box > div.keyword p,
  #sub-product-list div.side div.search-box > div.keyword a {color: #666; font-weight: 400; font-size: 15px;}
  #sub-product-list div.side div.search-box > div.keyword div.recent-word {padding: 30px 0; border-bottom: 1px solid #ebebeb; box-sizing: border-box;}
  #sub-product-list div.side div.search-box > div.keyword div.recommend-word {padding: 30px 0;}
  #sub-product-list div.side div.search-box > div.keyword div.recommend-word ul li {padding-bottom: 6px;}

  #sub-product-list div.side div.category-matt {margin: 10% 10% 0 15%;}
  #sub-product-list div.side ul > li > a {position: relative; display: block; line-height: 50px;}
  #sub-product-list div.side ul > li.on > a {margin-bottom: 15px;}
  #sub-product-list div.side ul > li > ul {transition: height 0.8s;}
  #sub-product-list div.side ul > li.on > ul {color: #333; margin-bottom: 25px; overflow: hidden;}
  #sub-product-list div.side ul > li > a > em {font-size: 18px; font-weight: 800;}
  #sub-product-list div.side ul > li > a > img {position: absolute; top: 50%; right: 0; transform: translate(0, -50%);}
  #sub-product-list div.side ul > li > a > img.open {display: none;}
  #sub-product-list div.side ul > li > a > img.close {display: block;}
  #sub-product-list div.side ul > li.on > ul > a > img.open {display: block;}
  #sub-product-list div.side ul > li.on > ul > a > img.close {display: none;}
  #sub-product-list div.side ul > li > ul > li {display: none;}
  #sub-product-list div.side ul > li.on > ul > li {display: block; line-height: 40px;}
  #sub-product-list div.side ul > li.on > ul > li:last-child {border-bottom: 1px solid #ebebeb; box-sizing: border-box; padding-bottom: 30px;}
  #sub-product-list div.side ul > li.on > ul > li > a {display: block;}
  #sub-product-list div.side ul > li.on > ul > li > a > img.open {display: block;}
  #sub-product-list div.side ul > li > ul > li > input {position: absolute; opacity: 0;}
  #sub-product-list div.side ul > li > ul > li > label {position: relative; line-height: 15px; font-size: 17px;}
  #sub-product-list div.side ul > li > ul > li > label::before {content: ''; display: inline-block; width: 15px; height: 15px; border: 1px solid #888; margin-right: 6px; margin-top: 1px;}
  #sub-product-list div.side ul > li > ul > li > label::after {content: ''; position: absolute; display: none; top: 3px; left: 5px; width: 6px; height: 6px; background-color: #333; border-radius: 1px;}
  #sub-product-list div.side ul > li > ul > li > input:checked ~ label::after {display: inline-block;}
  
  #sub-product-list div.list-box {position: relative; overflow: hidden; width: 75%; margin: 0 auto;}
  #sub-product-list div.list-box > div.box {overflow: hidden; width: 90%; margin: 0 auto;}
  #sub-product-list div.list-box.row-3 ul.list > li {width: 30%; margin-right: 5%; margin-bottom: 3%;}
  #sub-product-list div.list-box.row-3 ul.list > li:nth-child(3n) {margin-right: 0;}
  #sub-product-list div.list-box.row-2 ul.list > li {width: 48%; margin-right: 4%;}
  #sub-product-list div.list-box.row-2 ul.list > li:nth-child(2n) {margin-right: 0;}
  }
@media screen and (max-width: 767.9px) {
  body.sub #header:not(.open) {background-color: transparent;}
  body.sub.bed #main div.background-matt {background-size: cover; padding: 140px 0 130px 0;}
  body.sub.bed-frame #main div.background-matt {background: url(../img/sub-head-visual-frame.jpg) center center no-repeat;}
  body.sub.bed-mattress #main div.background-matt {background: url(../img/sub-head-visual-mattress-m.jpg) center center no-repeat;}
  
  #sub-product-list {position: relative; padding-bottom: 160px; border-bottom: 1px solid #ebebeb; box-sizing: border-box;}
  #sub-product-list div.product {}
  #sub-product-list > div.product > div.content-box {position: relative;}
  #sub-product-list div.top {display: none;}
  #sub-product-list div.top-m {position: relative; margin-bottom: 30px; overflow: hidden;}
  #sub-product-list div.top-m div.box {position: relative; max-width: calc(100% - 40px); margin: 0 auto; margin-bottom: 20px;}
  #sub-product-list div.top-m div.box > span {background: url(../img/side-icon-filter.png) left center no-repeat; background-size: 16px; padding-left: 20px; font-size: 17px;}
  #sub-product-list div.top-m ul.arr-list {overflow: hidden;}
  #sub-product-list div.top-m ul.arr-list > li {position: absolute; display: none; top: 0; right: 0;}
  #sub-product-list div.top-m ul.arr-list > li.on {display: block;}
  #sub-product-list div.top-m ul.arr-list > li > a {display: block; width: 20px; height: 20px; text-indent: -9999px;}
  #sub-product-list div.top-m ul.arr-list > li.row-2 a {background: url(../img/list-1-type-btn-on-m.png) center center no-repeat; background-size: 16px;}
  #sub-product-list div.top-m ul.arr-list > li.row-1 a {background: url(../img/list-2-type-btn-on-m.png) center center no-repeat; background-size: 16px;}
  #sub-product-list div.top-m > div.filter {position: absolute; top: 40px; left: 0; width: 100%; font-size: 13px; font-weight: 700; color: #333; background-color: #f7f7f7; padding: 0 20px;}
  #sub-product-list div.top-m > div.filter.on {display: block;}
  #sub-product-list div.top-m > div.filter span.clear {float: left; padding: 6px 18px; background-color: #e5e5e5; border-radius: 100px; cursor: pointer; margin: 13px 0;}
  #sub-product-list div.top-m > div.filter > ul {overflow: hidden; padding: 0 5px;}
  #sub-product-list div.top-m > div.filter > ul > li {position: relative; float: left;}
  #sub-product-list div.top-m > div.filter > ul > li > span {padding: 0 15px; font-size: 13px;}
  #sub-product-list div.top-m > div.filter > ul > li > a {display: inline-block; width: 15px; line-height: 30px; background: url(../img/icon-btn-del.png) center center no-repeat; transform: translate(-50%, 0); text-indent: -9999px;}
  #sub-product-list div.top-m > div.filter > ul.keyword {margin-top: 13px;}
  #sub-product-list div.top-m > p.total-product {position: relative; float: left; width: 22%; font-size: 14px; color: #666; margin-top: 50px; padding: 40px 20px 0 20px;}
  #sub-product-list div.top-m > p.total-product > strong.num {color: #333; font-weight: 800;}
  #sub-product-list div.top-m > div.order {position: absolute; right: 20px; bottom: 0;}
  #sub-product-list div.top-m > div.order > a > span {margin-right: 6px;}
  #sub-product-list div.top-m > div.order select.arr {width: 100px; height: 20px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; background: url(../img/icon-select.png) 95% 50% no-repeat; font-family: inherit; font-size: 14px; font-weight: 700; color: #333; text-align: center;}
  #sub-product-list div.top-m > div.order select.arr::-ms-expand {display: none;} /*IE10*/

  #sub-product-list div.bottom {position: relative; overflow: hidden;}
  #sub-product-list div.side {display: none;}
  #sub-product-list div.list-box > div.box {overflow: hidden; width: 100%; margin: 0 auto;}
  #sub-product-list div.list-box {position: relative; overflow: hidden; width: 90%; margin: 0 auto;}
  #sub-product-list div.list-box.row-2 ul.list > li {width: 48%; margin-right: 4%;}
  #sub-product-list div.list-box.row-2 ul.list > li:nth-child(2n) {margin-right: 0;}
  #sub-product-list div.list-box.row-1 ul.list > li {width: 100%;}
} 
#sub-product-list div.list-box ul.list > li {position: relative; float: left; box-sizing: border-box; opacity: 0.5; transform: translateY(20%);}
#sub-product-list div.list-box ul.list > li.on {opacity: 1; transform: translateY(0); transition: all 0.8s;}
#sub-product-list div.list-box ul.list > li a {display: block; overflow: hidden;}

#sub-product-list div.list-box ul.list > li div.like-area > div.like-alert,
#sub-product-list div.list-box ul.list > li div.like-area > div.unlike-alert {position: absolute; top: 12%; left: 17%; width: 70%; height: 50%; background-color: rgba(8, 144, 192, 0.8); border-radius: 200px; opacity: 0; overflow: hidden; text-align: center; transition: all 1.3s;}
#sub-product-list div.list-box ul.list > li.show-like div.like-area > div.like-alert {opacity: 1;}
#sub-product-list div.list-box ul.list > li.show-unlike div.like-area > div.unlike-alert {opacity: 1;}
#sub-product-list div.list-box ul.list > li.hide-like div.like-area > div.like-alert {opacity: 0;}
#sub-product-list div.list-box ul.list > li.hide-unlike div.like-area > div.unlike-alert {opacity: 0;}
#sub-product-list div.list-box ul.list > li div.like-area > div.like-alert > p,
#sub-product-list div.list-box ul.list > li div.like-area > div.unlike-alert > p {position: relative; top: 50%; transform: translate(0, -50%); color: #fff; font-size: 15px; line-height: 1.5em;}
#sub-product-list div.list-box ul.list > li div.like-area > div.like-alert > p > em {display: inline-block; font-size: 20px; font-weight: 700; line-height: 1.5em; margin-bottom: 10px;}

#sub-product-list div.list-box ul.info {position: relative; margin: 30px 0;}
#sub-product-list div.list-box ul.info > a.like {position: absolute; display: block; top: 0; right: 0;}
#sub-product-list div.list-box ul.info > li > p {font-size: 16px; font-weight: 400; color: #666; margin: 0.7em 0;}
#sub-product-list div.list-box ul.info > li > p.title {font-size: 18px; font-weight: 800; color: #333; margin-bottom: 6px;}
#sub-product-list div.list-box ul.info > li > p.palette > a {display: inline-block; width: 14px; height: 14px; border: 1px solid #d1d1d1; box-sizing: border-box;}
#sub-product-list div.list-box ul.info > li > p.palette > a + a {margin-left: 5px;}
#sub-product-list div.list-box ul.info > li > p.palette > a > span.color {display: inline-block; width: 14px; height: 14px;}
#sub-product-list div.list-box ul.info > li > p.palette > a > span.color-2 {display: inline-block; width: 6px; height: 14px;}
#sub-product-list div.list-box ul.info > li > div.color-info {position: absolute; display: none; top: -50%; left: 10%; width: 60%; height: 60%; background-color: #fff; padding: 20px; border-radius: 20px;}
#sub-product-list div.list-box ul.info > li > div.color-info.on {display: block;}
#sub-product-list div.list-box ul.info > li > div.color-info > span.color {display: inline-block; width: 68px; height: 68px; border: 1px solid #d1d1d1; box-sizing: border-box;}
#sub-product-list div.list-box ul.info > li > div.color-info > span.colorName {position: absolute; top: 50%; transform: translate(0, -50%); font-size: 18px; font-weight: 800; color: #333; margin-left: 10px;}

#sub-product-list div.pages {margin-top: 60px; text-align: center;}
#sub-product-list div.pages p.number {display: inline-block; font-size: 16px; font-weight: 800; color: #666; overflow: hidden;}
#sub-product-list div.pages p.number a {display: block; float: left; width: 34px; height: 34px; line-height: 34px; text-align: center;}
#sub-product-list div.pages p.number a.page.on {color: #0890c0; border: 1px solid #0890c0; box-sizing: border-box;}
#sub-product-list div.pages p.number a.prev {background: url(../img/paging-prev.png) center center no-repeat;}
#sub-product-list div.pages p.number a.next {background: url(../img/paging-next.png) center center no-repeat;}
#sub-product-list div.pages p.number a.first {background: url(../img/paging-first-prev.png) center center no-repeat;}
#sub-product-list div.pages p.number a.last {background: url(../img/paging-last-next.png) center center no-repeat;}






/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}
#main-faq a.more:hover i {animation: btn-effect-right 0.3s ease 0s infinite alternate forwards;}
*/
